@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Teko&display=swap");

/* General */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/beanstalk.jpg");

}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.content-container {
  margin-right: 20%;
  margin-left: 20%;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section-text {
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid darkseagreen;
  background-color: white;
}

.section-text p{
  margin-bottom: 2rem;
}

.button {
  font-size: large;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 1rem;
  border: 2px solid;
}

.button:hover {
  background-color: darkseagreen;
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, rgb(73, 141, 73), darkseagreen);
  width: 100%;
}

.home-link {
  display: flex;
  margin-left: 2rem;
}

nav h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: xx-large;

  /* Simulates text stroke */
  text-shadow: .1rem .1rem black, -.1rem -.1rem black, 
  .1rem -.1rem black, -.1rem .1rem black;
}

.home-logo {
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

nav ul {
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  font-size: large;
}

nav li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav ul a:hover {
  color: aliceblue;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: teal;
}

.current-page-link {
  color: aliceblue;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: teal;
}

/* Footer */
footer {
  background-color: lightgrey;
  width: 100%;
}

footer ul {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
}

/* Home Page */
.home-section {
  display: flex;
  justify-content: space-between; 
}

/* Hero Section */
.hero-section {
  justify-content: center;
  margin-top: 0;
  background-image: url("../images/birds-eye-course.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  height: 50vh;
  width: 100%;
}

.hero-section .content-container {
  margin-top: auto;
  margin-bottom: auto;
  width: 25vw;
  height: 25vh;
  display: flex;
  background-color: rgb(145, 142, 142, 0.8);
}

.hero-section a {
  color: white;
  margin: auto;
  background-image: linear-gradient(to top left, teal, rgb(22, 165, 165));
  box-shadow: .2rem .2rem .2rem rgba(100, 99, 99, 0.8);
  font-size: x-large;
  width: 80%;
  text-align: center;
}

.hero-section a:hover {
  color: darkseagreen;
  background-color: white;
  background-image: none;
}

.hero-section a:focus {
  background-color: lightgrey;
}


/* About Section */
/* Contact Page */
.contact-submit-list li b{
  text-align: right;
}

/* Booking Page */
table {
  width: 100%;
}

table, th, tr, td{
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
  background-color: white;
}


