:root {
  font-family: Verdana;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

section,
footer {
  margin: 1rem;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  background-color: darkseagreen;
}

.home-link {
  margin: 1rem;
}

.home-link h3 {
  float: left;
}

.home-logo {
  height: 2rem;
  float: left;
  margin: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  margin: 1rem;
}
