<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us | Mighty Mini Golf</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../components/Navbar.js" type="text/javascript" defer></script>
    <script src="../components/Footer.js" type="text/javascript" defer></script>
</head>
<body>
<navbar-component></navbar-component>

<section>
    <h2>About Us</h2>
    <p>
        We have been having a blast putting holes and accomplishing goals since 1989. We have 16 
        unique and creative holes across our beautiful 10 acre course. After working up an appetite 
        from playing minigolf, take a break and try some of our famous homestyle burgers, also
        conveniently located next to our airconditioned laser tag facility. Just wait 
        until the kids will putt their first hole in one, they will be 
        wanting to come back every weekend.
    </p>
</section>

<footer-component></footer-component>
</body>
</html>