<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Food and Drink | Mighty Mini Golf</title>
    <link rel="icon" href="../images/golfball-16px.png" />

    <link rel="stylesheet" href="../css/style.css" />
    <script src="../components/Navbar.js" type="text/javascript" defer></script>
    <script src="../components/Footer.js" type="text/javascript" defer></script>
  </head>
  <body>
    <navbar-component></navbar-component>
    <div class="content-container">
      <h1>Food and Drink</h1>
      <section id="menu-section">
        <div class="section-text">
          <h2>Our Menu</h2>
          <img class="menu" src="../images/menu.jpg" width="800px" />
        </div>
      </section>
    </div>
    <footer-component></footer-component>
  </body>
</html>
