<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home | Mighty Mini Golf</title>
    <link rel="icon" href="../images/golfball-16px.png" />

    <link rel="stylesheet" href="../css/style.css" />

    <script src="../components/Navbar.js" type="text/javascript" defer></script>
    <script src="../components/Footer.js" type="text/javascript" defer></script>

    <script src="../js/general.js" type="text/javascript" defer></script>
    <script src="../js/index.js" type="text/javascript" defer></script>
  </head>

  <body>
    <navbar-component></navbar-component>

    <section class="hero-section home-section">
      <div class="content-container">
        <h2>Get the family on an adventure this weekend!</h2>
        <a class="hero-book-button button" href="book.html">Book Now</a>
        <a class="hero-more-link" href="#home-more-anchor">More &dArr;</a>
      </div>
    </section>

    <div class="content-container">
      <a class="anchor" id="home-more-anchor"></a>
      <h1 id="home-title">Home</h1>
      <div class="photo-slideshow">
        <div id="left-slideshow-arrow" class="arrow left-arrow">&lt</div>

        <div class="photo-container">
        <img
          class="slideshow-photo"
          src="../images/courses/course1.jpg"
          alt="Picture of mini golf course."
        />

        <img
          class="slideshow-photo hidden"
          src="../images/courses/course2.jpg"
          alt="Picture of mini golf course."
        />

        <img
          class="slideshow-photo hidden"
          src="../images/courses/course3.jpg"
          alt="Picture of mini golf course."
        />

        <img
          class="slideshow-photo hidden"
          src="../images/courses/course4.jpg"
          alt="Picture of mini golf course."
        />

        <div class="slideshow-dots">
          <span class="slideshow-dot">&#9898</span>
          <span class="slideshow-dot">&#9899</span>
          <span class="slideshow-dot">&#9899</span>
          <span class="slideshow-dot">&#9899</span>
        </div>
        </div>

        <div id="right-slideshow-arrow" class="arrow right-arrow">&gt</div>
      </div>
      <div class="home-grid">
        <div class="section-text">
          <h2>What We are About</h2>
          <p>
            Putt like a pro at Mighty Mini Golf. With our affordable activities
            and food Mighty Mini Golf is the perfect family trip.
          </p>
          <a class="button" href="about.html">More about us</a>
        </div>
        <picture>
          <source
            media="(max-width: 1375px)"
            srcset="../images/family-walking-cropped.jpg"
          />
          <img
            src="../images/family-walking.jpg"
            alt="Family walking with golf clubs"
          />
        </picture>

        <div class="section-text">
          <h2>What You Can Eat</h2>
          <p>
            Enjoy our award winning homestyle burgers cooked with fresh
            Australian ingredients. Vegetarian and vegan options available.
          </p>
          <a class="button" href="food.html">Our Menu</a>
        </div>
        <picture>
          <source
            media="(max-width: 1375px)"
            srcset="../images/burger-cropped.jpg"
          />
          <img src="../images/burger.jpg" alt="Burger" />
        </picture>

        <div class="section-text">
          <h2>We Have Your Party Covered</h2>
          <p>
            Perfect for birthdays or other special occasions, our party package
            comes with everything you need to throw a great party.
          </p>
          <a class="button" href="book.html">Book a Party</a>
        </div>
        <picture>
          <source
            media="(max-width: 1375px)"
            srcset="../images/equipment-on-grass-cropped.jpg"
          />
          <img
            src="../images/equipment-on-grass.jpg"
            alt="Golf clubs on grass"
          />
        </picture>

        <div class="section-text">
          <h2>Covid-19 Health and Safety</h2>
          <p>
            At Mighty Mini Golf we have followed all government guidelines for
            COVID-19
          </p>
          <a class="button" href="about.html#covid-section">
            Our Covid-19 Precautions
          </a>
        </div>
        <picture>
          <source
            media="(max-width: 1375px)"
            srcset="../images/facemask-cropped.jpg"
          />
          <img src="../images/facemask.jpg" alt="Facemask and sanitiser" />
        </picture>
      </div>
      <section>
      <div id="home-ball-animation-container">
        <div id="ball" class="ball"></div>
        <div class="grass-left-of-hole"></div>
        <div class="hole"></div>
        <div class="grass-right-of-hole"></div>
      </div>
      </section>
    </div>
    <footer-component></footer-component>
  </body>
</html>
